[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
flake8 = "*"

[packages]
numpy = "*"
keras = "*"
tensorflow = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "pycodestyle --ignore=W2,W3,E501 bitxos tests"
test = "python -m unittest discover"
